.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". foto ."
    ". foto ."
    ". tekst ."
    ". tekst ."
    ". enquetes .";
  font-family: "Noto Sans JP", sans-serif;
}

img {
  display: block;
  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.foto {
  grid-area: foto;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.tekst {
  grid-area: tekst;
  text-align: center;
}

.enquetes {
  grid-area: enquetes;
  text-align: center;
}

.enquetes > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  border-radius: 25px;
  background-color: lightgray;
}

a {
  color: black;
  text-decoration: none;
}
